:root {
    --theme-color: #ff7300;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header stying start here */
header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#headerImg {
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    animation: zoom 3s linear infinite;
}

@keyframes zoom {
    0% {
        transform: scale(1.3);
    }

    15% {
        transform: scale(1);
    }

    85% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.3);
    }
}

.overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
    position: absolute;
    top: 0;
}

header>.content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    z-index: 1;
    color: white;
}

header>.content>h1 {
    font-size: 36px;
}

header>.content>button {
    padding: 15px 30px;
    background-color: var(--theme-color);
    color: white;
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
}

header>.content>button:hover {
    background-color: transparent;
    border: 1px solid var(--theme-color);
}
/* header styling end here */

/* giving space on every main section */
main>* {
    margin: 100px 50px;
}

/* showcase product section start here */
.showcase-section {
    text-align: center;
}

.showcase-section>* {
    padding: 10px 0px;
}

.showcase-section>.showcase-title {
    font-size: 36px;
}

.showcase-section>.btns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.btns .btn {
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;
}


.showcase-section .active {
    background-color: var(--theme-color);
    color: white;
}

.filterable-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 16px;
}

/* when clicking on any category. other item will be hibe */
.hide {
    display: none;
}

.filterable-cards>.card {
    flex-basis: 300px;
    height: 300px;
    padding: 10px;
    box-shadow: 8px 8px 8px #ddd;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.filterable-cards>.card img {
    width: 100%;
    height: 210px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
    transition: all 0.3s ease-in-out;
    /* box-shadow: ; */
}

.filterable-cards>.card>.card-body {
    text-align: center;
    padding: 10px;
    background-color: white;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -60px;
    left: 0;
}

.price {
    font-weight: bold;
}

.del-price {
    color: var(--theme-color);
}

.card-body>* {
    margin: 10px 0px;
}

.filterable-cards>.card:hover .card-body {
    transform: translateY(-50px);
}

.filterable-cards>.card:hover img {
    transform: rotate(10deg) scale(1.5);
    /* transform: scale(1.5); */
}

.cart-btn {
    padding: 10px 40px;
    background-color: transparent;
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease-in;
}

.cart-btn:hover {
    background: var(--theme-color);
    color: white;

}
/* showcase product section end here */


/* about us styling start here */
.about-us {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
}

.about-us>* {
    width: 100%;
}

.about-us>.about-banner>img {
    width: 100%;
}

.about-us>.about-content>* {
    margin: 10px 0px;
}

.about-us>.about-content>.about-header {
    font-size: 36px;
    text-transform: uppercase;
}

.about-us>.about-content>.about-desc {
    max-width: 500px;
}

.about-us>.about-content>button {
    padding: 15px 30px;
    background-color: var(--theme-color);
    color: white;
    border: 1px solid var(--theme-color);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.about-us>.about-content>button:hover {
    background-color: transparent;
    border: 1px solid var(--theme-color);
    color: black;
}
/* about us styling end here */


/* customer review styling start here */
.customer-review > * {
margin: 50px 0px;
}

.customer-review > h1{
    font-size: 36px;
    text-align: center;

}

.wrapper {
    /* width: 100%; */
    /* max-width: 1100px; */
    position: relative;
    /* margin: 50px auto; */
}

.wrapper .carousel {
    display: grid;
    grid-auto-flow: column;
    gap: 16px;
    grid-auto-columns: calc((100%/3) - 12px);
    overflow: auto;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    scrollbar-width: 0;
}

.wrapper i {
    width: 50px;
    height: 50px;
    background-color: white;
    /* color: white; */
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 6px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    user-select: none;
}

.wrapper i:first-child {
    left: -20px;
}

.wrapper i:last-child {
    right: -20px;
}

.carousel :where(.card, .img) {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel .card {
    height: 400px;
    background-color: white;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 10px;
    scroll-snap-align: start;
}
.carousel.no-transition{
    scroll-behavior: auto;
}

.carousel.dragging {
    scroll-snap-type: none;
    scroll-behavior: auto;
}

.carousel.dragging .card {
    cursor: grab;
    user-select: none;
}

.card .img {
    width: 150px;
    height: 150px;
    background-color: var(--theme-color);
    border-radius: 50%;
    text-align: start;
}

.card .img img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid white;

}

.card h1 {
    font-weight: bold;
    font-size: 36px;
    margin: 30px 0px 5px;
}

/* customer review styling end here */



/* newsletter styling start here */
.newsletter-section {
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 100px 50px;
    gap: 16px;
    background-color: black;
    color: white;
}

.newsletter-section>* {
    width: 100%;
}

.newsletter-section>.newsletter-header>h1 {
    font-size: 36px;
    max-width: 500px;

}

.newsletter-section>.form>* {
    margin: 10px 0px;
}

.newsletter-section>.form>.newsletter-form {
    display: flex;
    gap: 16px;
}

.newsletter-section>.form>.newsletter-form>input[type="email"] {
    padding: 10px;
    flex: 1;
    border: 1px solid gray;
    background-color: #ddd;
    border-radius: 10px;
}

.newsletter-section>.form>.newsletter-form>.subscribe-btn {
    padding: 15px 30px;
    background-color: var(--theme-color);
    color: white;
    border: 1px solid var(--theme-color);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
}

.newsletter-section>.form>.newsletter-form>.subscribe-btn:hover {
    background-color: transparent;
    border: 1px solid var(--theme-color);
}

.newsletter-section>.form>.privacy-desc>.privacy-link {
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 1px solid var(--theme-color);
}
/* newsletter styling end here */


/* media query for tablet */
@media screen and (max-width:900px) {
    main>* {
        margin: 100px 20px;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100%/2) - 9px);

    }
}

/* media query for mobile */
@media screen and (max-width: 768px) {

    main>* {
        margin: 100px 20px;
    }

    .wrapper .carousel {
        grid-auto-columns: 100%;

    }

    .about-us {
        flex-direction: column;
    }

    .newsletter-section {
        flex-wrap: wrap;
        padding: 20px;
        gap: 16px;
    }
}